<!-- src/app/features/header/header.component.html -->
<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <div class="w-1/3">
    <div class="logo font-bold">HoopStars</div>
    <div class="text-lg">Select your 3 favorite NBA players to reveal the secret!</div>
  </div>
  <div class="w-1/3">
    <input
      #searchInput
      type="text"
      (input)="search($event)"
      placeholder="Search players..."
      class="p-2 rounded text-[#171717] w-full"
    />
  </div>
  <div class="w-1/3 flex space-x-4 items-center justify-end">
    <ng-container *ngFor="let favorite of favorites$ | async">
      <div class="relative group">
        <img
          [src]="favorite.photo ? 'https://hoopgrids.com/assets/players/' + favorite.id + '.png' : 'https://hoopgrids.com/assets/players/silhouette.png'"
          alt="{{ favorite.name }}"
          class="w-12 h-12 rounded-full object-cover"
        />
        <div
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full bg-gray-700 text-white text-sm rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity"
        >
          {{ favorite.name }}
        </div>
        <button
          (click)="removeFavorite(favorite)"
          class="absolute top-0 right-0 bg-red-600 text-white rounded-full w-4 h-4 flex items-center justify-center text-xs"
        >
          ×
        </button>
      </div>
    </ng-container>
    <button *ngIf="hasThreeFavorites" class="bg-green-500 text-white rounded px-4 py-2" (click)="revealSecret()">Reveal secret!</button>
  </div>
</header>
